.section {
  height: 720px;
  overflow: hidden;
  background-color: #2f5fd2;
  color: white;
  position: relative;
}

.wrapper {
  position: relative;
  height: 100%;
  padding: 0;
  width: 100%;
  text-align: center;
  max-width: 1024px;
  margin: 0 auto;
}

.content {
  position: static;
  margin-top: 64px;
  width: 100%;
  top: 50%;
}

.text {
  margin-bottom: 20px;
  font-size: 28px;
  line-height: 38px;
  font-weight: 400;
}

@media (min-width: 480px) {
  .section {
    height: 915px;
  }

  .wrapper {
    width: 95%;
    padding: 0 24px;
  }

  .content {
    position: absolute;
    margin-top: -170px;
  }

  .text {
    font-weight: 300;
    font-size: 48px;
    line-height: 66px;
    text-align: left;
  }
}
