.wrapper {
  width: 100%;
  position: fixed;
  height: 58px;
  z-index: 10;
  background-color: white;
  transition: 0.35s;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.07);
  opacity: 1;
  box-sizing: border-box;
  padding: 0 5.25vw;
  transition: 0.35s;
}

.navbar {
  overflow: hidden;
}

.logo {
  padding: 19px 0;
  height: 18px;
  display: inline-block;
}

.menu {
  float: right;
}

.item {
  color: black;
  font-size: 0.9375rem;
  list-style: none;
  display: inline-block;
  margin-left: 18px;
  cursor: pointer;
  padding: 21px 0;
  line-height: 16px;
  font-weight: 400;
}

.top {
  transform: translateY(-40px);
  opacity: 0;
  background-color: transparent;
}

@media (min-width: 480px) {
  .top {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    box-shadow: none;
  }
}
