.section {
  height: 680px;
  background-color: #2f5fd2;
  color: white;
  position: relative;
  text-align: center;
}

.wrapper {
  position: relative;
  height: 100%;
  padding: 0;
  width: 100%;
  text-align: center;
  max-width: 1024px;
  margin: 0 auto;
}

.content {
  position: absolute;
  height: initial;
  width: 100%;
  padding: 64px 0 0 0;
}

.text {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: -0.5px;
  font-weight: 400;
}

@media (min-width: 480px) {
  .section {
    height: 915px;
    text-align: left;
  }

  .wrapper {
    padding: 0 24px;
    width: 95%;
  }

  .content {
    height: 100%;
    position: absolute;
    padding-top: 0;
  }

  .text {
    font-weight: 300;
    font-size: 48px;
    line-height: 66px;
    margin-top: 121px;
  }
}
